<!DOCTYPE html>
<html lang="pt-br">
  <head>    
    <title></title>
    <meta charset="utf-8">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css"/>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link href="https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap" rel="stylesheet">
    <style>
      html, body {
        height: 100%;
        margin: 0;
        overflow-y: scroll;
        scrollbar-width: none;
        -ms-overflow-style: none;
      }

      body::-webkit-scrollbar {
          display: none;
      }
      .dashboard{
        background-image: url("{{ url_for('static', filename='img/dash.png') }}");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }
      .toast {
        position: fixed;
        left: 50%;
        bottom: 20px;
        transform: translateX(-50%) translateY(10px);
        
        background: #ff3b3b;
        color: white;
        padding: 12px 18px;
        border-radius: 10px;
        font-family: Arial;

        opacity: 0;
        transition: 0.3s;

        max-width: 320px;
        width: fit-content;
        text-align: center;
      }
      .toast.show {
        opacity: 1;
        transform: translateX(-50%) translateY(0);
      }
    </style>
    <script>
      function mostrarToast(mensagem) {
        const toast = document.getElementById("toast");
        toast.innerText = mensagem;
        toast.classList.add("show");

        setTimeout(() => {
            toast.classList.remove("show");
        }, 3000);
      }
      window.onload = () => {
        const toast = document.getElementById("toast");
        if (toast && toast.innerText.trim() !== "") {
          toast.classList.add("show");
          setTimeout(() => toast.classList.remove("show"), 3000);
          }
        };
      function abrirModal() {
        document.getElementById("modal").classList.remove("hidden");
        document.getElementById("modal").classList.add("flex");
      }

      function fecharModal() {
        document.getElementById("modal").classList.add("hidden");
        document.getElementById("modal").classList.remove("flex");
      }
    </script>
  </head>
  <body class="font-[Sora] text-[#0B3C81]">
    <div class="dashboard fixed top-0 left-0 w-full z-50 grid grid-cols-2 items-center h-20 px-5">
      <div class="flex items-center">
        <img class="size-[8vh]" src="{{ url_for('static', filename='img/logo.png') }}" alt="">
      </div>
      <div class="flex justify-end items-center gap-10 h-full">
        <a href="{{ url_for('pesquisa') }}" class="flex items-center justify-center">
          <button class="group relative w-[4vh] h-[4vh] cursor-pointer">
            <img class="absolute inset-0 w-full h-full group-hover:opacity-0 transition" src="{{ url_for('static', filename='img/search.png') }}" alt="">
            <img class="absolute inset-0 w-full h-full opacity-0 group-hover:opacity-100 transition" src="{{ url_for('static', filename='img/searchhover.png') }}" alt="">
          </button>
        </a>
        <a href="{{ url_for('entrada') }}" class="flex items-center justify-center">
          <button class="group relative w-[6vh] h-[4vh] cursor-pointer">
            <img class="absolute inset-0 w-full h-full group-hover:opacity-0 transition" src="{{ url_for('static', filename='img/mail.png') }}" alt="">
            <img class="absolute inset-0 w-full h-full opacity-0 group-hover:opacity-100 transition" src="{{ url_for('static', filename='img/mailhover.png') }}" alt="">
          </button>
        </a>
        <button class="group relative w-[5vh] h-[5vh] cursor-pointer" onclick="mostrarToast('Função indisponível')">
          <img class="absolute inset-0 w-full h-full group-hover:opacity-0 transition" src="{{ url_for('static', filename='img/sun.png') }}" alt="">
          <img class="absolute inset-0 w-full h-full opacity-0 group-hover:opacity-100 transition" src="{{ url_for('static', filename='img/sunhover.png') }}" alt="">
        </button>
        <a href="{{ url_for('perfil') }}" class="flex items-center justify-center">
          <button class="group relative w-[8vh] h-[8vh] cursor-pointer">
            <img class="absolute inset-0 w-full h-full group-hover:opacity-0 transition" src="{{ url_for('static', filename='img/perfil.png') }}" alt="">
            <img class="absolute inset-0 w-full h-full opacity-0 group-hover:opacity-100 transition" src="{{ url_for('static', filename='img/perfilhover.png') }}" alt="">
          </button>
        </a>
      </div>
    </div>

    <main class="m-20 pt-10">
      {% if session.get('admin') == 1 %}
        <button onclick="abrirModal()" class="btn m-5 text-white bg-[#0B3C81] hover:bg-[#A9C0E3] hover:text-[#0B3C81] hover:border-[#0B3C81]">
          + Adicionar jogo
        </button>
      {% endif %}


      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 m-5">
        {% for jogo in jogos %}
          <div class="bg-base-100 shadow-[0_0_30px_rgba(11,60,129,0.2)]
            hover:shadow-[0_0_60px_rgba(11,60,129,0.4)]
            transition duration-300 grid justify-items-center gap-3 p-5">

            <img src="{{ jogo.imagem_url }}" class="w-full aspect-square object-cover rounded-xl mb-3">

            <h2 class="text-xl font-bold mb-2">
              {{ jogo.nome }}
            </h2>

            <p class="text-gray-600">
              🎮 Desenvolvedora: {{ jogo.desenvolvedora }}
            </p>

            <p class="text-gray-600">
              🧩 Gênero: {{ jogo.genero }}
            </p>

            <p class="mt-3 font-semibold">
              ⭐ Nota: {{ jogo.nota }}
            </p>

            {% if session.get('admin') == 1 %}
              <a href="{{ url_for('delete_jogo', id=jogo.id) }}"
                class="btn text-white bg-red-500 hover:bg-red-200 hover:text-red-500 hover:border-red-500">
                - Remover
              </a>
            {% endif %}

          </div>
        {% endfor %}
      </div>
      
    </main>
    <div id="toast" class="toast">{{ msg }}</div>

    <div id="modal" class="fixed inset-0 hidden items-center justify-center bg-black/50">

      <div class="bg-white p-6 rounded-xl w-96">

        <h2 class="text-xl font-bold mb-4">Adicionar jogo</h2>

        <form action="{{ url_for('add_jogo') }}" method="POST" class="flex flex-col gap-3">

          <input type="text" name="nome" placeholder="Nome do jogo" class="input input-bordered placeholder-[#0B3C81] bg-[#F2EDE3] focus:border-[#0B3C81] focus:outline-none hover:border-[#0B3C81]" required>

          <input type="text" name="desenvolvedora" placeholder="Desenvolvedora" class="input input-bordered placeholder-[#0B3C81] bg-[#F2EDE3] focus:border-[#0B3C81] focus:outline-none hover:border-[#0B3C81]" required>

          <input type="text" name="genero" placeholder="Gênero" class="input input-bordered placeholder-[#0B3C81] bg-[#F2EDE3] focus:border-[#0B3C81] focus:outline-none hover:border-[#0B3C81]" required>

          <input type="number" step="0.1" name="nota" placeholder="Nota" class="input input-bordered placeholder-[#0B3C81] bg-[#F2EDE3] focus:border-[#0B3C81] focus:outline-none hover:border-[#0B3C81]" required>

          <input type="text" name="imagem_url" placeholder="URL da imagem" class="input input-bordered placeholder-[#0B3C81] bg-[#F2EDE3] focus:border-[#0B3C81] focus:outline-none hover:border-[#0B3C81]" required>

          <div class="flex justify-between mt-3">

            <button type="button" onclick="fecharModal()" class="text-gray-600">
              Cancelar
            </button>

            <button type="submit" class="btn m-5 text-white bg-[#0B3C81] hover:bg-[#A9C0E3] hover:text-[#0B3C81] hover:border-[#0B3C81]">
              Adicionar
            </button>

          </div>

        </form>

      </div>
    </div>
  </body>
</html>